.header {
  animation: fade ease-in 1s forwards;
}
.pokemon:hover {
  cursor: pointer;
  background-color: white;
  color: #33b2e5;
}
.pokemon {
  background-color: #33b2e5;
  color: white;
  text-transform: capitalize;
  width: 15em;
  animation: fade ease-in 1s forwards;
}
.pokemon-title {
  font-weight: 900;
}
.closed {
  animation: slide-out 0.5s ease-in forwards;
  z-index: 0;
}
.opened {
  animation: slide 0.5s ease-in forwards;
  z-index: 1;
}
#modal {
  width: 70%;
  height: 20em;
  position: fixed;
  top: 20em;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide {
  0% {
    transform: translateY(-80%);
    opacity: 0;
  }
  50% {
    transform: translateY(10%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-50%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
