.header-container {
  width: 100%;
  height: 100vh;
  padding: 5em;
}
.header-child {
  width: 100%;
  height: 100%;
  border-radius: 5em;
  display: flex;
  justify-content: space-between;
  @media (max-width: 680px) {
    flex-direction: column;
  }
}
.header-text {
  animation: fade ease-in 1s forwards;
  color: #33b2e5;
  font-family: Montserrat;
}
.discover-button {
  margin-top: 5%;
  margin-left: 5%;
  padding: auto;
  background-color: #33b2e5;
  font-family: Montserrat;
  animation: fade ease-in 1s forwards;
}
.initial-pokemon {
  font-family: Montserrat;
  width: 10em;
  height: auto;
}
#pokemon-image {
  animation: fade ease-in 1s forwards;
}
@media (max-width: 680px) {
  #pokemon-image {
    display: none;
  }
}
