.view-details {
  width: 100%;
}
#pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  overflow: auto;
}
.initial-pokemon {
  font-family: Montserrat;
  width: 10em;
  height: 16em;
}
#pokemon-image {
  animation: fade ease-in 1s forwards;
}
@media (max-width: 680px) {
  #pokemon-image {
    display: none;
  }
}
.pokemon:hover {
  cursor: pointer;
  background-color: white;
  color: #33b2e5;
  font-family: Montserrat;
}
.pokemon {
  text-transform: capitalize;
  width: 5em;
  color: white;
  font-family: Montserrat;
}
.pokemon-title {
  font-weight: 900;
}
.done-icon:hover {
  cursor: pointer;
}
.eye-icon:hover {
  cursor: pointer;
}
.delete-icon:hover {
  cursor: pointer;
  color: red;
}
